
/* YOUR CSS STYLES */
/*body {
    display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: "Mercury Text G1 A","Mercury Text G1 B","Georgia","Times New Roman","Times",sans-serif;
    background-color: #e3eaec;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 10%;
    padding-top: 10%;
}

#sections > div{
    opacity: .3
} 

#sections div.graph-scroll-active{
    opacity: 1;
}

#container{
  position: relative;
}

#sections{
  width: 340px;
}

#graph{
  width: 500px;
  margin-left: 380px;
  position: absolute;
  top: 0px;
}

.graph-scroll-fixed #graph{
  position: fixed;
}

.graph-scroll-below #graph{
  position: absolute;
  bottom: 0px;
}*/