
/* YOUR CSS STYLES */
#container{
  position: relative;
}

#sections{
  width: 340px;
}

#sections > div{
  background: white;
  /*opacity: .2;*/
  margin-bottom: 400px;
}
#sections > div:last-child{
  margin-bottom: 30px;
}
#sections > div.graph-scroll-active{
  opacity: 1;
}

#graph{
  margin-left: 40px;
  width: 500px;
  position: absolute;
  top: 0px;
  margin-left: 380px;
}

.graph-scroll-fixed #graph{
  position: fixed;
  top: 0px;
}

.graph-scroll-below #graph{
  bottom: 0px;
  top: auto;
}

@media (max-width: 925px)  {
  #graph{
    width: 100%;
    transform: translate(-50%, 0);
    margin-left: 50%;
  }

  #sections{
    position: relative;
    margin: 0px auto;
    padding-top: 400px;
  }

  #sections div{
    background: rgba(255,255,255,.5);
    padding: 10px;
    border: 1px solid;
    max-width: 400px;
    margin-bottom: 500px;
  }
}

h1{
  margin: 50px;
}

h1, h3{
  text-align: center;
}

.mono{
  font-family: monospace;
}

svg{
  background-color: #eee;
}



/*
body{
  display: block;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Mercury Text G1 A","Mercury Text G1 B","Georgia","Times New Roman","Times",sans-serif;
  background-color: #e3eaec;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10%;
  padding-top: 10%;
  font-size: 20px;
}

#sections > div{
  width: 80%;
  max-width: 600px;
  margin: 0px auto 300px auto;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 0 12px 3px gray;
  border-radius: 3px;
  opacity: .8;
} 

#sections div.graph-scroll-active{
  opacity: 1;
}

#container{
  position: relative;
}

#sections{
  font-family: "Georgia";
}

#graph{
  width: 100%;
  position: absolute;
  top: 0px;
  z-index: -1;
}

.graph-scroll-fixed #graph{
  position: fixed;
}

.graph-scroll-below #graph{
  position: absolute;
  bottom: 0px;
}

.state:hover {
  opacity: 1;
}*/

.peoplebar:hover {
  fill: #000080;
};